<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Edit Profile</title>
</head>
<body>
<div th:replace="fragments/HeaderUser :: HeaderUser"></div>
<h2>Edit Profile</h2>
<form method="post" th:action="@{/user/update}" th:object="${user}">
    <input th:field="*{userId}" type="hidden"/>
    <input th:field="*{role}" type="hidden"/>
    <input th:field="*{password}" type="hidden"/>
    <label>Username:</label>
    <input readonly th:field="*{username}" type="text"/><br/><br/>
    <p style="color: red" th:errors="*{username}"></p>
    <label>Name:</label>
    <input required th:field="*{name}" type="text"/><br/><br/>
    <p style="color: red" th:errors="*{name}"></p>
    <label>Email:</label>
    <input required th:field="*{email}" type="email"/><br/><br/>
    <p style="color: red" th:errors="*{email}"></p>
    <label>Phone:</label>
    <input required th:field="*{phone}" type="text"/><br/><br/>
    <p style="color: red" th:errors="*{phone}"></p>
    <label>Avatar URL:</label>
    <input th:field="*{avatarUrl}" type="text"/><br/><br/>
    <p style="color: red" th:errors="*{avatarUrl}"></p>
    <label>Gender:</label>
    <select th:field="*{gender}">
        <option th:selected="${T(com.hsf302.socialnetwork.enums.Gender).equals(session.user.getGender())}"
                th:text="'Female'"
                th:value="${T(com.hsf302.socialnetwork.enums.Gender).F}"
        />
        <option th:selected="${T(com.hsf302.socialnetwork.enums.Gender).equals(session.user.getGender())}"
                th:text="'Male'"
                th:value="${T(com.hsf302.socialnetwork.enums.Gender).M}"
        />
    </select><br/>
    <button type="submit">Update</button>
</form>

</body>
</html>
